@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: rgb(72, 50, 179);
  --color-secondary: rgb(242, 184, 137);
  --color-tertiary: rgb(252, 225, 254);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  color: rgb(var(--foreground-rgb));
  background: url("/bg.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #000 !important;
  font-family: "Satoshi", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.react-responsive-modal-closeButton {
  background-color: rgba(255, 255, 255, 0.6) !important;
  border-radius: 8px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
