@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: rgb(72, 50, 179);
  --color-secondary: rgb(242, 184, 137);
  --color-tertiary: rgb(252, 225, 254);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    109.6deg,
    rgb(20, 30, 48) 11.2%,
    rgb(36, 59, 85) 91.1%
  );

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
